.calculator{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 5px;
    position: absolute;
    top: 20%;
    left: 40%;
    width: 300px;
    background-color: bisque;

}
.display{
    grid-column:4;
    text-align: right;
    font-size: 35px;

    height: 60px; /* Fixed height */
    width: 90px;
    overflow:scroll; /* Hide overflow */
    white-space: nowrap; /* Prevent text from wrapping */
    
}
.button{
    padding: 20px;
    background-color: aquamarine;
    border-radius: 40%;
}

